  <div class="message">
    <ul class="message-name-date">
      <li class="name"><%= message.user.name %></li>
      <li class="date"><%= message.created_at %></li>
    </ul>
    <div class="message-text">
      <%= message.content %>
    </div>
  </div>