<div class="head-side">
  <div class="head-side-left">
    <%= link_to "#{current_user.name}", edit_user_path(current_user), class:"user-name" %>
  </div>
  <div class="head-side-right">
    <a href="#" class="make-chat">チャットを作成する</a>
  </div>
</div>
<div class="room-list">
  <div class="room">
    <div class="room-name">
      <a href="#">techroom1</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">techroom2</a>
    </div>
  </div>
</div>