<div class="head-side">
  <div class="head-side-left">
    <%= link_to "#{current_user.name}", edit_user_path(current_user), class:"user-name" %>
  </div>
  <div class="head-side-right">
    <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>
<div class="room-list">
  <% current_user.rooms.each do |room| %>
    <div class="room">
      <div class="room-name">
        <%# <a href="#"><%= room.name</a> %>
        <%= link_to(room.name, room_messages_path(room.id)) %>
      </div>
    </div>
  <% end %>
</div>